.top{
  background-image: url("./img.png");
}

body{
  font-family: helvetica;
  text-align: center;



}

h1{
  font-size: 70px;
  font-weight: bold;
  color: white;
}

h2{
  font-size: 32px;
  font-weight: bold;
}

a{
  font-size: 18px;
  color: white;
}
.foot{
  text-align: left;
  color: white;
  background-color: dimgray;
}
#footer{
  font-size: 11px;
}

.designed{
  background-image: url("./img.png");
  color: white;
  font-size: 23px;
  font-weight: bold;
}

p{
  font-size: 14px;
}
